<!-- Se incluye la plantilla del header -->
<% include templates/_header %>

    <div class="container">
        <div class="row justify-content-center">
            <p class="display-4">
                Nuevo Registro
            </p>
        </div>
        <div class="row justify-content-center ">
            <form id="agregar" class="col-md-8 col-sm-10" action="/add" method="POST">
                <div class="form-group row">
                    <label for="rfc" class="col-md-3 col-form-label">RFC</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control" id="rfc" name="rfc" pattern="^([A-ZÑ\x26]{3,4}([0-9]{2})(0[1-9]|1[0-2])(0[1-9]|1[0-9]|2[0-9]|3[0-1])([A-Z]|[0-9]){2}([A]|[0-9]){1})?$" maxlength="18" placeholder="RFC">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="principalName" class="col-md-3 col-form-label">Nombre principal</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control" id="principalName" name="principalName" maxlength="50" placeholder="Principal Name"
                            required>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="businessName" class="col-md-3 col-form-label">Nombre de la empresa</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control" id="businessName" name="businessName" maxlength="80" placeholder="Business Name"
                            required>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="phone" class="col-md-3 col-form-label">Teléfono</label>
                    <div class="col-md-9">
                        <input type="tel" class="form-control" id="phone" name="phone" pattern="[0-9]{10}" maxlength="10" placeholder="Teléfono" required>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="email" class="col-md-3 col-form-label">Email</label>
                    <div class="col-md-9">
                        <input type="email" class="form-control" id="email" name="email" maxlength="80" placeholder="Email" required>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="offset-sm-7 col-sm-5 offset-md-8 col-md-4">
                        <button type="submit" class="btn btn-primary btn-block agregarBoton">
                            Crear
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <!-- Se incluye la plantilla del footer-->
    <% include templates/_footer %>