<footer class="footer">
        <div class="container">
            <div class="row">
                <div class="offset-1 col-sm-6 align-self-center">
                    <h5>Link del proyecto</h5>
                    <p>
                        <a target="_blank" class="btn btn-social-icon btn-github" href="http://www.linkedin.com/in/jose-alfredo-rey-mendez-40a880/">
                            <i class="fab fa-github"></i>
                        </a>
                        :
                        <a target="_blank" href="https://github.com/jose-rey/crudenodemysql">https://github.com/jose-rey/crudenodemysql</a>
                    </p>

                </div>
                <div class="col-sm-5 align-self-center">
                    <h5>Más información</h5>
                    <p>
                        <a target="_blank" class="btn btn-social-icon btn-linkedin" href="http://www.linkedin.com/in/jose-alfredo-rey-mendez-40a880/">
                            <i class="fab fa-linkedin-in"></i>
                        </a>
                        <a class="btn btn-social-icon btn-twitter" href="mailto:rey_gogen86@hotmail.com">
                            <i class="fa fa-envelope"></i>
                        </a>
                    </p>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-auto">
                    <p>© Copyright 2018 Rey</p>
                </div>
            </div>
        </div>
    </footer>

    <script src="js/jquery-3.3.1.min.js"></script>
    <script src="js/popper-1.14.0.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/datatables.min.js"></script>
    <script src="js/scripts.js"></script>
</body>

</html>